[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fuzzywuzzy = {extras = ["speedup"]}
"goose3" = "*"
ftfy = "*"
pendulum = "*"
nltk = "*"
py-ms-cognitive = {git = "https://github.com/guiscaranse/py-ms-cognitive.git", ref = "master"}
tinydb = "*"
logbook = "*"
polyglot = {git = "https://github.com/aboSamoor/polyglot.git"}
scipy = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
pytest = "*"
keras = "*"
news-please = "*"
tensorflow = "*"
"6f98160" = {path = ".\\PyICU-2.2-cp36-cp36m-win_amd64.whl"}
"653ecd9" = {path = ".\\pycld2-0.31-cp36-cp36m-win_amd64.whl"}


[requires]

python_version = "3.6"
