[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fuzzywuzzy = {extras = ["speedup"]}
"goose3" = "*"
ftfy = "*"
pendulum = "*"
pytrends = "*"
nltk = "*"
py-ms-cognitive = {git = "https://github.com/guiscaranse/py-ms-cognitive.git", ref = "master"}
halo = "*"
tinydb = "*"


[dev-packages]



[requires]

python_version = "3.6"
